@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100;0,200;0,500;1,100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
	margin: 0;
	padding: 0;
}

.navbar {
	font-family: 'Dela Gothic One', cursive;
}

.container-fluid {
	font-family: 'Roboto', sans-serif;
}

i {
	margin-right: 10px;
}


input:focus,
button:focus,
.form-control:focus {
	outline: none;
	box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #fff;
}

.table tr,
.table tr td {
	vertical-align: middle;
}

.button-container {
	display: flex;
	align-items: center;
}

.button-container .form-control {
	max-width: 80px;
	text-align: center;
	display: inline-block;
	margin: 0px 5px;
}

#myTable .form-control {
	width: auto;
	display: inline-block;
}

.cart-qty-plus,
.cart-qty-minus {
	width: 38px;
	height: 38px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.cart-qty-plus:hover,
.cart-qty-minus:hover {
	background-color: #666666;
	color: #fff;
}

.img-prdct {
	width: 50px;
	height: auto;
	background-color: #747579;
	border-radius: 4px;
}

.img-prdct img {
	width: 100%;
}

thead tr {
	background-color: #343A40;
	color: white;
}

.img-prdct {
	width: 120px !important;
	height: auto !important;
}

.cart-qty-plus {
	background-color: #5ea1bb;
	color: white;
	font-weight: 600;
}

.cart-qty-minus {
	background-color: #5ea1bb;
	color: white;
	font-weight: 600;
}

.footer {
	background-color: #212529;
	color: #ecf0f1;
	font-family: 'Dela Gothic One', cursive;
	text-align: center;
	font-size: 10px;
	padding: 10px;
}

.footer a {
	text-decoration: none;
	color: #707374;
}

.footer a:hover {
	color: #ecf0f1;
}

.fa {
	padding: 5px;
}